@font-face {
    font-family: Ahamono;
    src: url(../tipografias/ahamono.otf);
    }
@font-face {
    font-family: Glacial;
    src: url(../tipografias/glacialRegular.otf);
    font-style: normal ;

}

@font-face{
    font-family: Glacial Italic;
    src: url(../tipografias/glacialItalic.otf);
    font-style: Italic ;
}

main{
    margin-top: 30px;
    
}

body{
    padding-top: 20px!important;
}

.navbar{
    padding-right: 45px;
    padding-left: 45px ;
}

.estiloNavBar{
    font-family: Glacial;
    font-size: 140%;
}

.logo{
    font-family: Glacial;
    font-size: 120%;
    margin-left: 6px;
    margin-bottom: 0px;
}

.redesSociales{
    width: 1.0vw!important; /* TAMAÑO ICONOS */
    padding-top: 7px;
}
.margenIconos{
    width: 7vw;
}

@media (max-width: 500px) {
    .redesSociales {
      width: 7vw!important;
    }
    .margenIconos{
        width: 100vw;
    }

  }



.nav-link{
    padding-right: 15px!important;  
    color: black!important;
    font-size: 90%;/* TAMAÑO NAVBAR */
}

.nav-link:hover{
    color: #375b91!important;
}

.active{
    color: #375b91!important
}

.navbar-light .navbar-toggler {
    position: absolute;
    left: 85vw;
}

@media (max-width: 900px) {
    .logo {
      width: 80%;
    }
  }

