@font-face {
    font-family: Ahamono;
    src: url(../tipografias/ahamono.otf);
    }
@font-face {
    font-family: Glacial;
    src: url(../tipografias/glacialRegular.otf);
    font-style: normal ;

}

@font-face{
    font-family: Glacial Italic;
    src: url(../tipografias/glacialItalic.otf);
    font-style: Italic ;
}

main{
    margin-top: 30px;
    
}

body{
    padding-top: 20px!important;
}

.navbar{
    padding-right: 45px;
    padding-left: 45px ;
}

.estiloNavBar{
    font-family: Glacial;
    font-size: 140%;
}

.logo{
    font-family: Glacial;
    font-size: 105%;
    margin-left: 6px;
    margin-bottom: 0px;
    color:gray;
}





.palitos{
    margin-bottom: 0px;
    font-size: 18px;
    padding-top: 8px;
    color: gray;
}

.nav-link{
    padding-right: 8px!important;  
    font-size: 70%;/* TAMAÑO NAVBAR */
}






.nav-link:hover{
    color: black!important;
}

.active{
    color: black!important
}

.navbar-light .navbar-toggler {
    
    left: 85vw;
}

.stickyMenu{
    
  position: sticky;
  top: 0px;
}

.letraFooter{
    text-align: left;
    font-family: Ahamono;
    color: gray;
    margin-bottom: 7px;
    font-size: 1vw;
}

.letraFooterDerecha{
    text-align: right;
    font-family: Ahamono;
    color: gray;
    margin-bottom: 7px;
    font-size: 1vw;
}

.iconos{
    width: 1.7vw;
    color: gray;
    
}

.separacion{
    margin-top: 20px;
}

.iconosMover{
    padding-left: 12vw ;
}

@media (max-width: 900px) {
    .logo {
      width: 80%;
    }
  }

  @media (max-width: 500px) {
    .nav-link{
        font-size: 70%;
    }
    .letraFooter{
        font-size: 75%;
    }
    .letraFooterDerecha{
        font-size: 75%;
    }
    .iconos{
        width: 6vw;
    }
    .iconosMover{
        padding-left: 40vw ;
    }
    .letraFooterDerecha{
        text-align: center;
    }
    .letraFooter{
        text-align: center;
    }
    .palitos{
        display: none;
    }
    .logo{
        margin-left: 0px;
    }
    .navbar-toggler-icon{
        width: 5vw!important;
    }
    .navbar-toggler{
        padding: 0px 5px 0px 5px;
    }
  }