
@font-face {
    font-family: Ahamono;
    src: url(../tipografias/ahamono.otf);
    }
@font-face {
    font-family: Glacial;
    src: url(../tipografias/glacialRegular.otf);
    font-style: normal ;

}

@font-face{
    font-family: Glacial Italic;
    src: url(../tipografias/glacialItalic.otf);
    font-style: Italic ;
}


h1 {
    font-family: Glacial ;
}

h2 {
    font-family: Ahamono;
}

body {
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 60px 0;
}

.container.gallery-container {
    color: #35373a;
    min-height: 100vh;
    
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    transition: 0.2s ease-in-out;
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

@media(min-width: 1200px){
    .container {
        max-width: 95%;
    }
}

 .imagenOculta{
    width: 93.7%!important; 
    position: absolute;
     left: 1vw;
     display: none;
 }


.sticky{
    position: -webkit-sticky;
  position: sticky;
  top: 110px;
  box-shadow: none!important;

}



